*{
    margin:0px;
    padding:0px;
}
#camera{
    width:30px;
    height: 10px;
    color:#29d9d5;
    margin:7px;
    font-size:22px;
}
a{
    text-decoration: none;
}
header{
    width:100%;
    height:60px;
    background-color:black;
}
.head li a:hover{
    color:#29d9d5;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.head li a{
    color:white;
}
nav ul{
    list-style-type: none;
    display:flex;
    align-items: center;
}
nav ul li{
    padding:10px;
    font-size:20px;
}
nav div:nth-of-type(1){
    color:white;
    font-size:23px;
    font-weight: bold;
}
nav div{
    color:white;
}
button{
    padding: 8px 20px;
    background-color: black;
    color: #29d9d5;;
    border:2px solid #29d9d5;
    border-radius: 20px;
    margin-top:6px;
}
.images{
    width:1300px;
    margin:auto;

}
.Blogs{
    background-color: rgb(66, 186, 180);
    margin:10px;
    padding:10px;
    border-radius:10px;
    width:1220px;
}
h1{
    color:blue
}
img{
    width:400px;
    height:280px;
    margin:10px;
    border-radius:15px;
}
.photograph{
    display:flex;
    flex-wrap: wrap;
}
.journey{
    width:100%;
    height:250px;
    background-color: #29d9d5;

}
.content{
    width:600px;
    height: 400px;
    margin:auto;
    color:black
}
h3{
    text-align: center;
    margin:8px;
    padding:10px;
    color:red;
    font-size: 30px;
}
.let{
    margin:8px;
    padding:10px;
    text-align: center;
    font-size: 50px;
}
.button{
    text-align: center;
    margin:8px;
}
p{
    letter-spacing:0.8px;
    line-height:1.5;
    font-size:16px;
}
.footer{
    width:100%;
    height:245px;
    display:flex;
    justify-content: space-around;
    background-color: black;
}
.graphy{
    margin:10px;
    padding:10px;
    height: 200px;
    color:floralwhite;
    width:300px;
    font-size:17px;
}
.contact{
    margin:10px;
    padding:10px;
    height: 200px;
    color:floralwhite;
    width:300px;
    font-size:17px;
}
ul{
    list-style-type: none;
}
.news{
    margin:10px;
    padding:10px;
    height: 200px;
    color:floralwhite;
    width:300px;
    font-size:17px;
}
input{
    border:2px solid #29d9d5;
    border-radius: 30px;
    background-color:black;
    height:20px;
    padding:10px;
    font-size:17px;
    margin-top:10px;
    margin-bottom:10px;
    width:190px;
    color:aliceblue;
}
h2{
    font-size:30px;
    margin:5px;
}
.contact ul li{
    padding:10px;
}
.foot{
    margin-bottom:20px;
}
.icons a{
    padding:10px;
    font-size: 20px;
    border:2px solid #29d9d5;
    border-radius:25px;
    color:#29d9d5;
    text-decoration: none;
}
.Subscribe{
    font-size: 18px;
}